*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}
.color{
    color: #969696 !important;
    font-size: 14px;
    margin-left: 8px;
    font-weight: 500;
}
.container {
    width: 1440px;
    margin: 0 40px;
}

#header {
    width: 1440px;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid rgba(243, 243, 244, 1);
}

.header-logo {
    display: inline-block;
    padding: 14px;
}

.nav-list{
   display: inline-block;
   vertical-align: middle;
   padding-bottom: 50px;

}

.nav-item {
    display: inline-block;
    list-style: none;
    margin: 0 12px;
    padding: 12px;
}
.nav-item a {
    text-decoration: none;
    vertical-align: middle;
    font-size: 16px;
    color: black;
}
.nav-list li:hover a {
    color: rgba(47, 201, 222, 1);
    border-bottom: 2px solid rgba(47, 201, 222, 1);

}


.search {
    display: inline-block;
    float: right;
    height: 100%;
}

.header-search-form {
    vertical-align: middle;
    padding-top: 12px;
}

.header-search {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: rgba(243, 244, 246, 1);
}

.ti-search .icon-header {
    vertical-align: middle;
}

.txt-header {
    border: none;
    background-color: rgba(243, 244, 246, 1);
    font-size: 16px;
    height: 20px;

}

.icon-search {
    vertical-align: middle;
    padding: 8px 8px;

}



#main {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;

}
.wapper-content {
    width: 1180px;
}

.main-body {
   
}

.main-body h1 {
    font-size: 45px;
    margin-bottom: 20px;
}
.main-body h4 {
    font-weight: 500;
    margin-bottom: 16px;
}

.main-review {
    width: 100%;
    vertical-align: middle;
}

.rating-star {
    display: inline-block;
}
.rating-tt {
    display: inline-block;
}
.color-grey {
    color: gray;
}
.share-save {
    display: inline-block;
    float: right;
}
.icon-share-review {
    margin-right: 32px;
}

.icon-share {
    vertical-align: middle;
}

.reviews-save {
    display: inline-block;
    padding-right: 20px;
}

.img-main {
    margin-top: 12px;
    display: flex;
    width: 1180px;
    
}
.img-big {
    display: inline-block;
    width: 50%;
    padding-right: 12px;
    padding-bottom: 4px;
}

.img-small {
    display: inline-block;
    width: 50%;
}

.img-item {
    float: left;
    width: 50%;
    padding-left: 6px;
    padding-top: -12px;
    padding-top: 6px;
}

.product-description {
    width: 100%;
    margin-top: 32px;
    padding-bottom: 24px;
    border-bottom: 2px solid rgba(246, 247, 248, 1);;
    height: 430px;
}

.description {
    width: 70%;
    display: inline-block;
    float: left;
    line-height: 1.4;
    padding-right:32px;
}

.des-header {
    margin-bottom: 12px;
}
.des-tt {
    font-size: 15px;
}
.description-icon {
    margin-top: 12px;
    height: 100px;
    width: 400px;
}
.des-row {
 font-size: 15px;
}
.des-col {

}
.name-service {
    display: inline-block;
    vertical-align: middle;


}
.img-icon-des {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;

}

.buy-form {
    float: left;
    width: 30%;
    border: 1px solid rgb(189, 189, 189, 0.2);
    padding: 12px;
    border-radius: 5px;
}
.form-hd1 {
    display: inline;
}
.form-info {
    display: flex;
    justify-content: space-between;
    background-color: #ececec;
    margin: 12px 0;
    padding: 12px;
    border-radius: 5px;
}
.form-tt {
    display: inline-block;
}
.ti-angle-down  {
    display: inline-block;
}
.form-hd2 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 8px 0;
}
.form-hd2 .total {
    color: #ccc;

}
.form-hd2 .price {
    font-weight: 600;
}
.btn-form {
    text-align: center;
    background-color:rgba(0, 189, 214, 1);
    margin: 12px 0;
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.btn-add-form {
    text-align: center;
    margin: 12px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid rgba(0, 189, 214, 1);
    color: rgba(0, 189, 214, 1);
    font-size: 18px;
}
.ti-shopping-cart .icon-form {
    display: inline-block;
    
}
.btn-add-form p {
    display: inline-block;

}

.reviews {
    width: 100%;
    margin-top: 45px;
    height: 380px;
    padding-bottom: 32px;
    border-bottom: 2px solid rgba(246, 247, 248, 1);
}

.header2 {
    display: flex;
    justify-content: space-between;
}

.hd1-review {
    
}

.hd2 {
    display: inline-block;
    font-weight: 900;
}

.more {
    font-size: 14px;
    color: rgba(144, 149, 160, 1);
}

.review-a {
    display: inline-block;
    margin-right: 8px;
    text-decoration: none;
    color: rgba(144, 149, 160, 1);

}

.ti-angle-right {

    display: inline-block;
    vertical-align: middle;
    
}

.reviewer {
    margin-top: 16px;
    width: 100%;
}

.reviewer-item {
    width: 50%;
    float: left;
    padding: 16px;
    margin-top: 8px;
    line-height: 1.6;
}

.re-info {
    margin-bottom: 12px;
}
.reviewer-img {
    margin-right: 8px;
}

.reviewer-name {
    display: inline-block;
    color: black;
    font-size: 14px;
    font-weight: 900;
}


.related-product{
    margin-top: 45px;
    width: 100%;
    height: 560px;
    border-bottom: 2px solid rgba(246, 247, 248, 1);


}

.rela-product {
    width: 100%;
    padding-top: 36px;
}

.rela-item {
    display: inline-block;
    width: 25%;
    float: left;
    padding:0 8px;
    

}

.rela-img {
    width: 99.9%;
    /* border-radius: 5px; */
    border: 2px solid rgba(245, 245, 245, 1);
}

.descri-pro {
    margin-top: -4px;
    padding-top: 20px;
    line-height: 1.6;
    border: 2px solid rgba(245, 245, 245, 1);
    border-radius: 5px;

}

.product-title {
    display: inline-block;

}

.heart-icon {
    float: right;
}
.price-re {
    font-size: 16px;
    font-weight: 800;
    color: rgba(0, 189, 214, 1);
    margin-bottom: 4px;
}

.re-star {

}

.color2 {
    display: inline-block;
    float: right;
}
