*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    width: 1440px;
}

#header {
    width: 1440px;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid rgba(243, 243, 244, 1);
}

.header-logo {
    display: inline-block;
    padding: 14px;
}

.nav-list{
   display: inline-block;
   vertical-align: middle;
   padding-bottom: 50px;

}

.nav-item {
    display: inline-block;
    list-style: none;
    margin: 0 12px;
    padding: 12px;
}
.nav-item a {
    text-decoration: none;
    vertical-align: middle;
    font-size: 16px;
    color: black;
}
.nav-list li:hover a {
    color: rgba(47, 201, 222, 1);
    border-bottom: 2px solid rgba(47, 201, 222, 1);

}


.search {
    display: inline-block;
    float: right;
    height: 100%;
}

.header-search-form {
    vertical-align: middle;
    padding-top: 12px;
}

.header-search {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: rgba(243, 244, 246, 1);
}

.ti-search .icon-header {
    vertical-align: middle;
}

.txt-header {
    border: none;
    background-color: rgba(243, 244, 246, 1);
    font-size: 16px;
    height: 20px;

}

.icon-search {
    vertical-align: middle;
    padding: 8px 8px;

}



#main {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;

}

.main-body {
    width: 1180px;
}

.main-body h1 {
    font-size: 45px;
    margin-bottom: 20px;
}
.main-body h4 {
    font-weight: 500;
    margin-bottom: 16px;
}

.main-review {
    width: 100%;
    vertical-align: middle;
}

.rating-star {
    display: inline-block;
}
.rating-tt {
    display: inline-block;
}
.color-grey {
    color: gray;
}
.share-save {
    display: inline-block;

    float: right;
}
.icon-share-review {
    margin-right: 32px;
}

.icon-share {
    vertical-align: middle;
}

.reviews-save {
    display: inline-block;
}

.img-main {
    margin-top: 12px;
    display: flex;
    width: 1180px;
    
}
.img-big {
    display: inline-block;
    width: 50%;
    padding-right: 12px;
    padding-bottom: 4px;
}

.img-small {
    display: inline-block;
    width: 50%;
}

.img-item {
    width: 49%;
    padding: 4px 4px;
}

#footer {

}
