*{
    margin: 0 auto;
    padding: 0 1px 0 1px;
    box-sizing: border-box;
}
#header{
    width: 1440px;
    height: 62px;
    display: flex;
    justify-content:space-around;
}
#header1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.HD1 {
    display: inline-block;
    margin: 5px;
    list-style-type: none;
    text-decoration: none;
    list-style: none;
}

#header2 {
    line-height: 62px;
}
#header3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

