*{
    margin: 0 auto;
    padding: 0 1px 0 1px;
    box-sizing: border-box;
}

#header{
    width: 1440px;
    height: 62px;
    display: flex;
    justify-content:space-around;
    position: relative;
}
#header1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header1 a {
    text-decoration: none;
    color: black;
}
.HD1 {
    display: inline-block;
    margin: 10px;    
}

#header2 {
    line-height: 62px;
}
#search-box {
    background-color: #ffff;
    border: 1px solid rgb(108, 106, 106);
    border-radius: 10px;
}

#search-box #search-txt {
    border: none;
    outline: none;
    background: none;
    padding: 5px 10px;
    font-size: 15px;
    
}

#search-box  #search-btn {
    border: none;
    background: none;
    background-color:#ffff;
    padding: 15px;
    border-radius: 50%;
}

#header3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#slider {
    position: relative;
    margin-top: 0;
    height: 390px;
    width: 1440px;
    background: url('/assets/img/slider.png') top center / cover no-repeat;
}
#slider .txt-content{
    position: absolute;
    top: 140px;
    left: 130px;
    

}
.txt-content {
    width: 460px;
    height: 123px;
}

#slider .txt-heading
{
    color: rgb(53, 53, 53);
   font-size: 60px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#slider .txt-descrip
{
    font-weight:1000px;
    font-size: 22px;
}


