*{
    margin: 0 auto;
    padding: 0 1px 0 1px;
    box-sizing: border-box;
}
#wrapper {
    display: flex;
    justify-content:center;
}


#main-content {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

#left {
    width: 9%;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#left-top{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
}
#left-bottom{
    display: flex;
    height: 20%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#center {
    width: 61%;
}
#heading{
    display: flex;
    width: 100%;
    justify-content:space-between;
    padding: 20px 0;
}

.hd1{
    margin:1px;
    display: inline-block;
   
}
.meeting-title {
    vertical-align: middle;
    display: inline-block;
    font-size: 25px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.hd2 {
    margin:1px;
}

.time{
    border: 1px solid rgba(227, 77, 115, 1);
    display: inline-block;
    color: rgba(227, 77, 115, 1);
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 12px;
}
.datetime {
    padding-bottom: 36px;
}

.internal {
    display: inline-block;
    border-radius: 16px;
    background-color: rgba(227, 77, 115, 1);
    color: #fff;
    padding: 5px 8px;
}

.icon-user {
    border-radius: 20px;
    background-color: #fff;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.inter {
   display: inline-block;
   vertical-align: middle;
   font-size: 12px;
}
.date{
    padding-left: 8px;
    display: inline-block;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.calender{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.date-sep{
   display: inline-block;
   vertical-align: middle;
}
.gio{
    padding-left: 10px;
    display: inline-block;
    border-left: 1px solid #b5b3b3;
}

.main-content {
    position: relative;
    width: 100%;
    max-height: 500px;
    image-rendering: auto;
}
.img-big{
    width: 100%;
    border-radius: 10px;
}
.name{

}

.name1 {
    position: absolute;
    top:12px;
    left: 24px;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #959595;
    color: #fff;
}

.icon-mic{
    top:12px;
    right: 24px;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}
.box-content {
    display: inline-block;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 32px;
}

.box {
    position: relative;
    padding-left: 4px;
    width: 33%;
    display: inline-block;
}

.img-box {
    width: 100%;
    border-radius: 10px;
}

.name2 {
    font-size: 12px;
    position: absolute;
    top:12px;
    left: 24px;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #959595;
    color: #fff;
}

.icon-mic2 {
    top:12px;
    right: 24px;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    background-color: #c8c7c7;
    border-radius: 5px;
}
.control {
    text-align: center;
}

.end-meeting {
    display: inline-block;
    background-color: #ff0000;
    padding: 12px 15px 14px 15px;
    border-radius: 5px;
    color: #fff;

}

.btn-control {
    display: inline-block;
    vertical-align: middle;
}


#right {
    width: 30%;
}

.participants {
   padding: 20px;
   border-left: 1px solid #959595;
   border-bottom: 1px solid #959595;
}

.header-tt {
    font-family: Arial, Helvetica, sans-serif;
}

.hd3 {
   
   font-weight: 600;
    display: inline-block;
   
}

.par-name {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;

}   

.sluong {
    display: inline-block;
    font-size: 14px;
    background-color:  rgba(253, 242, 244, 1);
    padding: 2px 4px;
    border-radius: 16px;
    font-weight: 500;
    vertical-align: middle;
}

.par-add {
    display: inline-block;
    float: right;
    border: 1px solid rgba(234, 121, 150, 1);
    padding: 6px 16px;
    color: rgba(234, 121, 150, 1);
    border-radius: 8px;
    text-align: center;
}

.par-list {
    padding-top: 24px;
    padding-left: 16px;
}

.par-item {
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 16px;
    color: rgba(186, 186, 186, 1);
}

.avatar-par{
    display: inline-block;
    vertical-align: middle;
}

.name-par {
    display: inline-block;
    vertical-align: middle;

}

.icon-par {
    display: inline-block;
    float: right;
    vertical-align: middle;
    padding-top: 6px;
}

.icon-item {
    vertical-align: middle;
    display: inline-block;
}

.ti-more-alt {
    vertical-align: middle;
    display: inline-block;
    color: rgba(110, 119, 135, 1);
}

.chat {
    padding-top: 24px;
    padding-left: 20px;
    margin-bottom: 12px;
}
.Chat1 {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
}
.chat-list {
   padding-top: 24px;
}
.chat-item {

}
.avatar-chat {
    display: inline-block;
    vertical-align: middle;
   

}
.name-chat {
    display: inline-block;
    vertical-align: middle;
    color: rgba(186, 186, 186, 1);

}

.NDung {
    padding: 8px 15px;
    background-color: #959595;
    margin-top: 15px;
    border-radius: 5px;

}

.form-chat {

}
s
.txt-se {
    vertical-align: middle;

}
s
.ti-themify-favicon {
    vertical-align: middle;

}
.btn-send {
    vertical-align: middle;

}
                       