*{
    margin: 0 auto;
    padding: 0 1px 0 1px;
    box-sizing: border-box;
}

#nav {
    float: left;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    
}
article{
    margin-left: 0px;
    padding: 1em;
    overflow: hidden;
    max-width: 1440px;
    margin-right: 0;
    display: flex;
}

#nav li {
    list-style: none;
    text-align: center;
}
#nav .main-logo {
    margin: 16px;
    height:60%;
    width: 60%;
}

#nav .logo-item {
    margin: 16px;
    size: 25px;
    height:40%;
    width: 40%;

}
#nav2 {
    margin-top: 300px;
}
.content {
    margin-right: 0;
}
.title {
    position: relative;
    max-width: 900px;
    padding-bottom: 32px;
}
.title h3 {
    position: absolute;
    display: inline-block;
    left: 0;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.time {
    border: 1px solid #ab0e0e;
    padding: 6px 8px;
    border-radius: 10px;
}

.title p {
    position: absolute;
    display: inline-block;
    right: 0;
    
}
.dateTime{
    position: relative;
}
.user {
    display: inline-block;
    border: 1px solid #fff;
    background-color: rgb(190, 16, 97);
    color: #fff;
    border-radius: 15px;
    padding: 4px 8px;
    margin: 16px 4px;
}
.calendar{
    display: inline-block;
    border-right: 1px solid #080808;
}
.times {
    margin-left: 4px;
    display: inline-block;
}
.img-main {
    position: relative;
}
.img-box {
    font-family: Arial, Helvetica, sans-serif;
    
}
.img-title{
    background-color: grey;
    display: inline-block;
    border-radius: 5px;
    padding: 12px;
    position: absolute;
    left: 25px;
    top: 15px;
    color: #fff;
    font-weight: 500;
}

.ti-control-record {
    color: #4df320;
}

.icon-img {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 15px;
    padding: 12px;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(230, 12, 124);
}
.img-big{
    width: 100%;
}
.img-sub{
    width: 100%;
}
.img-item {
    width: 33%;
    position: relative;
    display: inline-block;
    margin: 0;
    margin-top: 16px;
    border-radius: 8px;
}

.img-collection{
    width: 100%;
    border-radius: 8px;

}
.img-title1{
    background-color: grey;
    display: inline-block;
    border-radius: 5px;
    padding: 8px 4px;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    
}
.icon-img1 {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 10px;
    padding: 8px;
    font-size: 12px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(102, 102, 102);

}

#control {
   display: flex;
   margin-top: 24px;
   justify-content: center;
}
.box {
    margin: 0 4px;
    display: inline-block;
    text-align: center;
}
.box-end{
    margin: 0 4px;
    margin-top: 12px;
}
.endmeeting{
    background-color: red;
    padding: 13.5px 20px;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.chat-parici{
    margin-left: 50px;
}

.participants{
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid rgb(214, 213, 213);
    border-bottom: 1px solid rgb(214, 213, 213);
    padding: 20px 40px;
}

.tieude{
    font-size: 25px;
    font-weight: 700;
    
}

.ttmai{
    display: inline-block;
}

.tt-p{
    display: inline-block;
}

.sl{
    display: inline-block;
    background-color:beige ;
    padding: 6px 8px ;
    border-radius: 100%;
    font-weight: 500;
    font-size: 15px;
    color: #ef2784;
}
.add{
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    margin-left: 70px;
    border: 1px solid #ef2784;
    color: #ef2784;
    padding: 6px;
    border-radius: 5px;
}

.parti-list{
    margin-top: 16px;
   
}

.par-item{
   margin-top: 16px;
   
}

.name-par{
    margin-left: 0;
    margin-right: 16px;
    display: inline;
}

.img-par{
    display: inline-block;
}

.name{
    display: inline-block;
    padding-bottom:15px ;
}

.icon-par{
    float: right;
    padding-top: 10px;
}

.chat {
    margin-top: 24px;
     border-left: 1px solid rgb(214, 213, 213);
    border-bottom: 1px solid rgb(214, 213, 213);
}
.chat-item{
    margin-top: 16px;
}
.chat-comment {
    padding: 15px 8px;
    background-color: #dedcdf;
    margin-left: 40px;
    border-radius: 5px;
}

.chat-txt{
    padding: 15px;
    text-align: center;
}

.chat-input {
    padding: 8px;
    background: none;
    display: inline-block;
    border: 1px solid #d6d2d2;
}

.txt-se {
    height: 35px;
    width: 270px;
    border: none;
    text-align: center;
    margin-right: 0;
}
.icon-chat {
    margin-left: 0;
    height: 30px;
    border: none;
    background:none;
}
.btn-send {
    border: none;
    background:none;
}
.btn-send  img {
    height: 50px;
    width: 50px;
}