*{
    margin: 0 auto;
    padding: 0 1px 0 1px;
    box-sizing: border-box;
}
.text-white {
    color: #fff !important;
}
#header{
    display: flex;
    justify-content:space-around;
    position: relative;
    margin-bottom: 12px;
}
#header1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header1 a {
    text-decoration: none;
    color: black;
}

#header1 div:hover  a {
    color: rgb(0,0,0, 0.6);
    padding-bottom: 5px;
    border-bottom: 2px solid #0b090f;
}
.HD1 {
    display: inline-block;
    margin: 10px 15px;    
}

#header2 {
    line-height: 62px;
}
.search-box {
    background-color: #ffff;
    border: 1px solid rgb(108, 106, 106, 0.4);
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    margin-right: 12px;
}
.form-control.input {
    border: none;
    height: 100%;
}
.input-group.input {
    height: 100%;
}
span.input-group-addon.input-icon {
    border: none;
    background: none;
}
#header3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* content */
/* slider */
.slider {
    position: relative;
    margin-top: 0;
    height: 390px;
    background: url('/assets/img/tuan03/slider.png') top center / cover no-repeat;
    width: 100%;
}
.txt-content{
    width: 460px;
    height: 123px;
    position: absolute;
    top: 140px;
    left: 130px;
}

.txt-heading
{
   color: rgb(53, 53, 53);
   font-size: 60px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.txt-descrip
{
    font-weight:1000px;
    font-size: 22px;
}
/* navigation */
.navigation {
    margin-top: 25px;
    margin-right: 130px;
    margin-left: 130px;
}
.nav2_sub {
    display: flex;
    justify-content: center;
}

/* product */
#wrapper {
    margin: 25px 130px 0 130px;
}

.product-seller {
    position: absolute;
    top: 40px;
    left: 200px;
    color: #807e7e;
    background-color: rgb(237, 194, 116);
    border-radius: 15px;
    padding: 10px;
}
.img-product {
    width: 100%;
}
.product-content {
    text-align: left;
    margin-top: 10px;
    font-family: 'Golos Text', sans-serif;
    color: #ccc;
}

.price {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.price1 {
    margin: 0;
    font-size: 25px;
}

.price3 {
    font-size: 15px;
    color: rgba(178, 178, 178, 0.5);
}

.icon-img {
    margin: 0;
}

.number-page {
    margin:24px 130px 0 130px;
    font-size: 15px;
    color: #807e7e;
    text-align: center;
}
.number  span {
    margin: 0 12px 0 12px;
    border-radius: 50%;
    
}
.number  span:hover {
    color: #a6d0c0;
    background-color: #e8f3ef;
    padding: 4px 8px;
}

/* footer */
#footer{
    background-color: #353535;
    width: 100%;
    margin-top: 24px;
    padding: 78px 80px;
    line-height: 1.8;
}

.footer_info {
    color: #fff;
}

.input-group {
    border: none;
}
table {
    width: 450px;
}
th,td {
    height: 36px;
}
.title{
    font-size: 24px;
    font-weight: 600;
}

.footer_col2{
    padding-left: 36px;
    color: #fff;
    line-height: 1.6;
}
.footer_header {
    margin: 0;
}

.form-contact {
    padding-right: 250px;
}
.icon-logo {
    margin: 12px 0 8px 0;
    font-size: 16px;
}
.input-cona{
    background:none;
}
span.input-group-addon {
    background: none;
}
input#email {
    background: none;
}
button.btn.btn-default {
    background-color: #459d7a;
}
.tf-desc {
    display: inline-block;
}
.list-name {
    display: inline-block;
}
.list-name li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 5px 8px;
}
.icon-twitter {
    color: #2ebae8;
}
.icon-fb {
    color:#2e6fe8;
}
.icon-linkin {
    color: #7797e4;
}
.icon-yt {
    color: #e82e2e; 
}