*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #448aff;
}
.container {
    background-color: #ffffff;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
}
.timers {
    font-size: 70px;
    color: #2b2b2b;
    margin: 0 12px;
}
.idsa {
    font-size: 100px;
}
.buttons {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 60px auto 0 auto;
}
.buttons button {
    width: 100px;
    height: 50px;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: #448aff;
    font-family:sans-serif;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
}
.buttons button:nth-last-child(1) {
    background-color: #20b380;
}
.buttons button:nth-last-child(2) {
    background-color: #d23332;
}