body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: rgb(104, 97, 97);
}
.timers {
    font-size: 100px;
    color: #fff;
    margin: 0 12px;
}
.idsa {
    font-size: 100px;
}